<dialog class="mdl-dialog new-donor absolute-center" [attr.open]="isOpen ? 'true' : null">
    <form #donorForm="ngForm" (submit)="save(donorForm)">
        <h4 class="mdl-dialog__title">Wanna be a donor?</h4>
        <div class="mdl-dialog__content">

            <div class="mdl-components__warning" *ngIf='errorMessages && errorMessages.length'>
                <ul>
                    <li *ngFor="let error of errorMessages">{{error}}</li>
                </ul>
            </div>

            <div style="margin-top:20px">

                  <div>  
                      <md-input placeholder="First name" ngControl="firstName" name="firstName" [(ngModel)]="donor.firstName" style="width: 100%"
                    required></md-input></div>
                <div><md-input placeholder="Last name" ngControl="lastName" name="lastName" style="width: 100%" [(ngModel)]="donor.lastName" required></md-input></div>
                <div><md-input placeholder="Contact Number" ngControl="contactNumber" pattern="^(00|\+)\d{2}\s\d{3}\s\d{4}\s\d{3}$" name="contactNumber" style="width: 100%" [(ngModel)]="donor.contactNumber" required>
                    <md-hint align="end">+xx xxx xxxx xxx or 00xx xxx xxxx xxx</md-hint>

                </md-input></div>
                <div><md-input placeholder="Email Address" ngControl="email" name="emailAddress" style="width: 100%" [(ngModel)]="donor.email"
                pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required></md-input>
</div>
                <div class="mdl-textfield mdl-js-textfield">
                    <label>Blood Type:</label>
                    <select name="bloodGroup" ngControl="bloodGroup" [(ngModel)]="donor.bloodGroup" required>
                    <option value="A" selected>A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>    
                    </select>

                    <md-checkbox name="rh" color="primary" ngControl="rh" [(ngModel)]="donor.rh" [checked]="checked">
                        Rh.
                    </md-checkbox>
                </div>
            </div>


        </div>
        <div class="mdl-dialog__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save</button>
            <button type="button" (click)="close()" class="mdl-button mdl-js-button mdl-button--raised" formnovalidate>Cancel</button>
        </div>
    </form>
</dialog>
<donor-saved></donor-saved>